* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p  {
    padding: 15px 10px;
}
button:hover {
    cursor: pointer;
}

.header{
    background-color: rgb(24, 6, 88);
    color: white;
}

.newbut {
    float: right;
    color: black;
    background-color: #3e8e41;
    border: 0;
    padding: 15px;
    border-radius: 30px;
    color: white;
}
.newbut:hover {
    background-color: #999;
}

.main{
    text-align: center;
}
.post {
    position: relative;
    max-width: 60%;
    margin: 40px auto;
    box-shadow: 3px 3px 15px 5px rgb(99, 99, 99);
    border-radius: 15px;
    min-height: 30vh;
}

.post h2 {
    font-size: 300%;
    color:rgb(24, 6, 88);
}
.dateadded {
    color: #999;
}

@media screen and (max-width: 600px) {
    .post {
        min-width: 100%;
        border-radius: 0;
    }
}
.del {
    position: absolute;
    left: 5px;
    bottom: 5px;
    background-color: #c80000;
    border-radius: 10px;
    border: 0;
    color: white;
    padding: 5px 10px;
}

.navbut{
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin: 5px;
}

.navbut:hover {
    background-color: #3e8e41
}

.navbut:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

.lol{
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.lol:hover {
    background-color: #710b71
}

.lol:active {
    background-color: #710b71;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.dx{
    display: inline-block;
    padding: 15px 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;	
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.dx:hover {
    background-color: #c80000
}

.dx:active {
    background-color: #c80000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.footer{
    background-color: black;
    color: white;
    text-align: right;
    clear: both;
    position: fixed;
    bottom: 0;
    width: 100%;
}